/cuentasBancarias/nbproject/private/
/gestionHotelera/nbproject/private/
/gestionHotelera/build/
/08videojuego/videojuego/nbproject/private/
/08videojuego/videojuego/build/
/08videojuego/videojuego/dist/
/practica_JJOO/archivosJAVA/JuegosOlimpicos/nbproject/private/
/Streaming/Streaming/nbproject/private/
